body {
    perspective: 600px;
    padding: 200px;
}

.parent {
    transform-style: preserve-3d;
}

.try {
    width: 300px;
    height: 300px;
    background: url(../images/hero1.jpg) no-repeat fixed center;
    background-size: cover;
    transition: 2s;
}

.try:hover {
    transform: translateZ(-200px);
}

